.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 75px;
  padding: 0 2rem;
  background-color: var(--glaucous-500);
}

.container {
  max-width: 1600px;
  justify-content: flex-start;
}

.logo {
  font-family: "Righteous";
  font-size: var(--FS-4xl);
  color: white;
  line-height: 60px;
}

.notLogo {
  font-family: avenir, sans-serif;
  font-size: var(--FS-3xl);
  margin-bottom: 0.1rem;
}
