
.grid {
  @apply border-collapse text-2xl flex self-center;
}

.cell {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  text-align: center;
}

.slide-text {
  @apply flex flex-col;
}

.slide-text > p {
  @apply mb-4 text-slate-800;
}