.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 2rem auto;
  justify-content: center;
}

.interactive-container {
  height: 60%;
  margin: 1rem;
}

.interactive-container--inner {
  height: 100%;
  @apply bg-slate-300;
}

.btn {
  @apply py-1 px-2 rounded-md border border-slate-500;
}

.text-container {
  height: 40%;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    height: auto;
    margin: 3rem auto;
  }

  .interactive-container {
    height: 600px;
    width: 60%;
  }

  .text-container {
    display: flex;
    height: 600px;
    width: 40%;
    align-items: center;
  }
}
