.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.interactive-container {
  height: 60%;
  padding: 1rem;
}

.interactive-container--inner {
  height: 100%;
  background-color: #ddd;
}

.text-container {
  height: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .interactive-container {
    height: 100%;
    width: 60%;
  }

  .text-container {
    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
  }
}
