@import url("https://fonts.googleapis.com/css?family=Righteous");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* 
    Font sizes 
  */
  --FS-xs: 0.75rem;
  --FS-s: 0.875rem;
  --FS-base: 1rem;
  --FS-lg: 1.125rem;
  --FS-xl: 1.25rem;
  --FS-2xl: 1.5rem;
  --FS-3xl: 1.875rem;
  --FS-4xl: 2.25rem;
  --FS-5xl: 3rem;
  --FS-6xl: 4rem;

  /*
    Colours
  */
  --glaucous-500: #6b7fd7;
}
